<div class="row">
  {{!-- This is all the results from api call --}}
  <div class="col-lg-8 stock-information">
    {{name}}
    {{symbol}}
    {{latestPrice}}
    {{marketCap}}
    {{peRatio}}
    {{!-- This is where the graph will go --}}
    <div class="col-sm-2 graphGrid">
      <canvas class="priceGraph"></canvas>
    </div>
    {{!-- The save button box (DO WE EVEN NEED A SAVE BUTTON? WHEN THEY TRACK A STOCK IT WILL SAVE IT, I THOUGHT THE ONLY FUNCTION NEEDED WAS A DELETE.) --}}
    <div class="col-sm-1 saveButton">
      <button class="save-stock" data-id="{{id}}" data-newWatchlist="{{watchlist}}">
        {{#if watchlist}}Following{{else}}Would you like to follow?{{/if}}
      </button>
    </div>
    {{!-- This is the delete button box --}}
    <div class="col-sm-1 deleteButton">
      <button class="delete-stock" data-id="{{this.id}}">Remove from watchlist</button>
    </div>
  </div>
</div>
